<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>My PDO Project</title>

    <link rel="stylesheet" href="css/index.css">

</head>

<body>

        <a href="{{ path_for('blog')}}">Blog</a>
    <h1>Personnes</h1>

    <table class="tableau">
        
        {% for person in persons %}
            
        <tr>
            <td>{{ person.id|e }}</td>
            <td>{{ person.name|e }}</td>
            <td>{{ person.email }}</td>
            <td>{{ person.password|e }}</td>
           
        </tr>
        {% endfor %}

    </table>
</body>

</html>